<footer class="footer text-muted bg-light">
  <div class="container">
    <span>© <%= Date.today.year %> Alkimi Code Test</span>
    <ul class="list-inline mb-0 float-right">
        <li class="list-inline-item mr-3"><a href="https://www.linkedin.com/in/miguel-gonzalez-herrera" target="blank"><i class="fab fa-linkedin mr-1"></i></a>Miguel Gonzalez Herrera</li>
    </ul>
  </div>
</footer>
